@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(213, 213, 246);
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #20870b;
  border-radius: 50%;
  display: inline-block;
}